<div class="p-10">
    <div class="animate-pulse">
        <div class="h-6 bg-gray-200 rounded mb-2 w-3/4"></div>
        <div class="h-6 bg-gray-200 rounded mb-4 w-1/2"></div>
        <div class="h-4 bg-gray-200 rounded mb-2 w-5/6"></div>
        <div class="h-4 bg-gray-200 rounded mb-2 w-full"></div>
        <div class="h-4 bg-gray-200 rounded mb-8 w-3/5"></div>
        <div class="h-4 bg-gray-200 rounded mb-8 w-2/5"></div>
        <div class="flex items-center space-x-4">
            <div class="rounded-full bg-gray-200 h-9 w-9"></div>
            <div class="h-10 bg-gray-200 rounded flex-1"></div>
        </div>
    </div>
</div>
